* {
  margin: 0;
  padding: 0;
  font-family: 'Kiwi Maru', serif;
}
.parents{
  position: relative;
}
.slide {
  position: absolute;
  width: 100%;
  height: 800px;
  z-index: 1;
  overflow: hidden;
}
 
@keyframes slideshow{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  28%{
    opacity: 1
  }
  38%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
 
.slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  opacity: 0;
  animation :slideshow 24s linear infinite;
}
 
.slide img:nth-child(2){
  animation-delay: 8s;
}
 
.slide img:last-child{
  animation-delay: 16s;
}

/* <-------- headerはここから-------> */

header {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #6091d3;
  padding-top: 10px;
  z-index: 100;
}

.header-title {
  color:rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Bookman, serif;
  margin-left: 20px;
}
/* <------- headerはここまで-------> */

/* <-------info-container（名前と大学名）はここから-------> */

.all{
  position: absolute;
  z-index: 100;
}

#first-block {
  height: 100vh;
  position: relative;
}

.info-container {
  background-color: rgba(255, 255, 255, 0.781);
  height: 630px;
  width: 500px;
  display: flex;
  border-radius: 40px;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 15%;
  left: 100px;
}

.introduction{
  margin-top: 40px;
  text-align: center;
}

h1 {
  font-size: 50px;
  
}

h1:hover {
  font-size: 70px;
}
.attribution {
  background-color: rgba(202, 182, 69, 0.877);
  color: #fff;
  font-weight: bold;
  padding: 30px;
  padding-bottom: 30px;
  border-radius: 30px;
}
/* <-------info-container（名前と大学名）はここまで-------> */


/* <-------info-container2(最近のニュース)ここから--------> */

.introduction2{
  border: solid 3px #6091d3;/*線*/
  border-radius: 40px;
  margin-top: 30px;
}


.story-title {
  font-size: 70px;
  font-family: fantasy;
  text-align: center;
  margin-bottom: 50px;
}

.my-story {
  margin-bottom: 10%;
  font-family: cursive;
}

.my-story-title {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  
}
span{
  border-bottom: dotted 5px salmon;
}
.my-story-body {
  margin: 30px;
  font-family: cursive;
  font-weight: bold;
}
/* <-------info-container2(最近のニュース)ここまで-------> */


/* <------- Twitter,FaceebookBTNここから-------> */

.button-container {
  width: 100px;
  position: absolute;
  top: 480px;
  left: 60px;
}

.sns-btn {
  color: #fff;
  font-size: 15px;
  height: 44px;
  width:380px;
  margin-bottom: 19px;
}

.mybtn-fb {
  background: #3b539a;
  border-radius: 40px;
}

.mybtn-fb:hover {
  opacity: 0.7;
}

.mybtn-tw {
  background: rgba(255, 94, 121, 0.65);
  border-radius: 40px;
}

.mybtn-tw:hover {
  opacity: 0.7;
}


/* <------- Twitter,FaceebookBTNここまで-------> */

